/* This style sheet is written by Christopher Lee;
Please contact me for any usuage before borrowing any code
Thank you!
*/

body, html {
    height: 100%;
    margin: 0;
    font-size: 1rem;
}


nav {
  background: rgba(94, 38, 137, 0.85);
}

nav a:link {
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 1rem !important;
}

nav a:hover {
  text-decoration: none !important;
  color: #E0E0E0 !important;
}

nav a:visited {
  color: #fff;
}

.hero {
  padding-top: 75px;
  padding-bottom: 15px;
}

.hero-text {
  color: #5E2689;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  div.hero-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 1199px) {
  div.hero-text {
    font-size: 20px;
  }
}


#middle {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rowspace {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-style {
  margin-top: 40px;
  background-color: #5e5e5e;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.hd1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #5E2689;
}

.txtq {
  margin-top: 10px;
  text-align: center;
  color: #860710;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.claimer {
  font-family: sans-serif;
  font-size: .8rem;
  text-align: center;
}

.navbar-toggler-icon {
  color: #fff !important;
  font-size: 1.5rem;
  padding-top: 5px;
}

/*
.border-image {
  border-style: solid;
  border-width: 1px;
  border-color: #5E2689;
  float: right;
} */

a {
  color: #5E2689;
}

.text-align-left {
  text-align: left;
}

.f-right {
  float: right;
}

.purp-background {
  /* background: #5E2689; */
  /* background: rgba(94, 38, 137, 0.85); */
}

.gray-background {
  background: rgba(216, 216, 216, 1);
}
